<style>
     body{
            background-image: url(/images/books1.jpg);
        }
    #error{
            display: flex;
            justify-content: center;
            display: block;
            border-radius: 8px;
            padding:25px;
            background-color: rgba(100, 152, 161, 0.3);
            width: 450px;
            height: 200px;
            font-family: Consolas;
            font-size: 16px;
    }
</style>
<div id = "error">
oh no error!!!!
</div>

<a href="/">home</a>